@tailwind base;
@tailwind components;
@tailwind utilities;

/* import fonts here */



* {
  box-sizing: border-box;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 99vw;
}
