.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .loginForm form {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    background-color: #111;
    color: #fff;
  }
  
  .loginForm .pageName {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .loginForm input[type="text"],
  .loginForm input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .loginForm .error {
    color: rgb(14, 13, 13);
    margin-bottom: 0.5rem;
  }
  
  .loginForm button {
    border: none;
    padding: 0.5rem 1rem;
    background-color: #111;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .loginForm button:hover {
    background-color: #888;
    color: #fff;
  }
  
  .loginForm a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    display: block;
  }

  .error.custom-error {
    color: white;
  }