.singleGameViewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
  }
  
  .cardContainer {
    display: flex;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #2e2d2d;
  }
  
  .gameImageContainer {
    flex: 1;
    padding: 20px;
    overflow: hidden;
  }
  
  .gameImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gameInfoContainer {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .gameInfoContainer h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .gameInfoContainer button {
    margin-top: 20px;
  }
  