.singleGameViewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .cardContainer {
    display: flex;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .gameImageContainer {
    flex: 1;
    padding: 20px;
  }
  
  .gameInfoContainer {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .gameInfoContainer h2 {
    margin-bottom: 10px;
  }
  
  .gameInfoContainer button {
    margin-top: 20px;
  }
  